<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Productos</h2>
    </div>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID Producto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Detalle</th>
                <th scope="col">Precio</th>
                <th scope="col">ID Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let producto of productos | async  ">
                <td>{{producto.id}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.cantidad}}</td>
                <td>{{producto.detalle}}</td>
                <td>{{producto.precio}}</td>
                <td>{{producto.idCategoria}}</td>
                <td>
                    <button (click)="verProducto(producto.id)" type="button" class="btn btn-primary btn-block" style="margin-left: 10px">Ver Mas</button > 
                 <button (click)="borrarProducto(producto.id)" type="button" class="btn btn-danger btn-block"style="margin-left: 10px">Borrar</button >   
             </td>          
          </tr>
    </tbody>
  </table>
  <button (click)="agregarProducto()" type="submit" class="btn btn-success center">Agregar Producto</button>
</div>