<h1>{{tipo()}}</h1>
<hr>

<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let producto of productos| buscarProducto:categoriaProducto  let i = index">

        <div class="card">
            <h5 class="heroe.nombre">{{producto.nombre}}</h5>
            <p class="card-text">{{producto.detalle}}</p>
            <p class="card-text"><small class="text-muted">{{producto.precio}}</small></p>
            <p class="card-text ">Categoria: {{tipo()}}</p>
            <button (click)="verProducto(producto.idProducto)" type="button" class="btn btn-primary btn-block">Ver Mas</button >
                <br>
        </div>
    </div>

</div>